[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
[submodule "public"]
	path = public
	url = git@github.com:h0m35t4r/russell.github.io.git
	branch = master
